.container-testimony {
    width: 1170px;
    height: 368px;
    margin: 10px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);

}

.container-text-testimony {
    width: 100%;
    font-size: 18px;
    text-align: center;
    padding: 40px;
    font-family: Lato,sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
}

.img-testimony {
    height: 100%;
    width: auto;
}

.name-testimony{
    font-size: 1.3rem ;/* tomo el valor de 18px de body y hace el calculo*/
}

.position-testimony {
    font-size: 1.3rem;
    margin-top: 15px;
    padding-bottom: 30px;
}

.text-testimony {
    font-size: 1.1rem;
    text-align: justify;
}

@media (max-width: 480px) {
    .container-testimony {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    font-size: 10px;


    }
    .container-text-testimony{
        width: auto;
        padding: 0;
    }
    .img-testimony {
    max-width: 100%;
    height: auto;
    }
    .text-testimony {
    font-size: 0.8rem;
    text-align: justify;
    
    }
}